
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Meeting.MeetingDecisionRelevant.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Enterpise.Meetingprise.Meeting.MeetingDecisionRelevantGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>