@import "site.theme.less";
@import "site.mixins.less";
@import "site.administration.less";
@import "site.basicsamples.less";
@import "site.meeting.less";
@import "site.membership.less";
@import "site.northwind.less";
@import "site.organization.less";

@navbar-height: 40px;
@navbar-text-height: 1.8em;

html {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    font-kerning: normal;
    line-height: 1em;
}

a {
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.rounded-nav-img {
    border: solid 1px #444;
    margin: -4px 10px 0 0;
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
}

.site-logo {
    margin: auto;
    width: 128px;
    height: 128px;
    background: #fff url(../favicon/neurral-192.png) no-repeat center center;
    background-size: contain;
    border-radius: 50%;
    border: solid 5px #444;
}

.site-logo-mini {
    .site-logo;
    .rounded-nav-img;
}

.main-header {
    border-bottom: 1px solid #aaa;
    box-shadow: 0px 2px 3px #dfdfdf;

    &.affix {
        position: fixed;
        top: 0px;
        width: 100%;
    }
}

.main-header .navbar,
.user-menu.open .dropdown-menu {
  box-shadow: 0px 2px 3px #dfdfdf;
  transition: box-shadow linear 0.1s;
}

a.navbar-brand {
    display: inline-block;
    font-variant: small-caps;
    padding: 10px 0px;
    line-height: 1em;
    vertical-align: middle;
}

/*a.navbar-brand:hover {
    b {
        text-shadow: 0 1px 2px #000;
    }
}*/

.main-header .dropdown-menu {
    padding: 0px !important;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    border: none;
}

.vx:empty {
    display: none;
}

.control-sidebar-open,
.control-sidebar-open + .control-sidebar-bg {
    //make conext sidebar only 80% in small screens
    @media (max-width: @screen-xs-max) {
        width: 80%;
    }
}

//for autosize in widgets (no overflow
/*.select2-container {
    position: relative;
    //z-index: 2;
    //float: left;
    width: 100%;
    margin-bottom: 0;
    display: table;
    table-layout: fixed;
}*/

header.main-header {
    .navbar-header {
        width: auto;
    }

    .logo, .sidebar-toggle, .navbar, .navbar-brand,
    #context-sidebar-toggle,
    .dropdown-toggle, .navbar-custom-menu {
        min-height: @navbar-height !important;
        height: @navbar-height;
        line-height: 1em;
        vertical-align: middle;
    }

    .main-header .sidebar-toggle {
        padding: 0px;
        vertical-align: middle;
    }

    #navigation {
        .navbar-brand b {
            display: inline;
        }

        span#mobile-title {
            display: none;
        }
    }

    .user-image {
        .rounded-nav-img;
    }

    #context-sidebar-toggle, .sidebar-toggle {
        font-size: @navbar-text-height;
        line-height: @navbar-text-height;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #profile-link {
        color: rgb(102, 102, 102);
    }
}

/* Make the header bar 40px only in mobile*/
.mobile-device {
    header.main-header {
        .navbar-brand, .sidebar-toggle, .navbar,
        #context-sidebar-toggle,
        .dropdown-toggle, .navbar-custom-menu {
            min-height: @navbar-height !important;
            height: @navbar-height;
            line-height: 1em; //TODO should be 1em?
        }

        #context-sidebar-toggle, .sidebar-toggle {
            font-size: @navbar-text-height;
            line-height: 1em;
            padding-top: 10px;
            padding-bottom: 0px;
        }
        /*.navbar-custom-menu:before {
            display: inline-block;
        }

        .nav.navbar-nav:before {
            display: inline-block;
        }*/
        #navigation {
            .navbar-brand b {
                display: none;
            }

            span#mobile-title {
                display: inline;
            }
        }
    }
}

//hide Neurral brand if sidebar collapsed
.sidebar-collapse:not(.sidebar-open):not(.mobile-device) .sidebar-top .navbar-brand span {
    visibility: hidden;
}

body {
    &.mobile-device.sidebar-open,
    &:not(.sidebar-collapse) {
        .sidebar-toggle-arrow {
            display: inline;
        }

        .sidebar-toggle-bars {
            display: none;
        }

        .main-sidebar {
            box-shadow: 0px 0px 2px #dfdfdf;
        }
    }

    &.mobile-device:not(.sidebar-open),
    &.sidebar-collapse {
        .sidebar-toggle-arrow {
            display: none;
        }

        .sidebar-toggle-bars {
            display: inline;
        }

        .main-sidebar {
            box-shadow: none;
        }
    }
}

.sidebar-top {
    height: @navbar-height;
    padding: 0 6px;
    margin: 0px;
    display: block;
    width: 100%;
    text-align: right;
    .clearfix();

    > .navbar-brand {
        height: @navbar-height;
        padding-left: 10px;
    }
}

.ui-dialog-content[style] {
    padding-bottom: 16px;
}

//CHANGE HERE TO OVERRIDE the inline styles generated by Serene
.ui-dialog.s-Dialog[style] {
    //position: absolute;
    //width: 500px !important;
    //height: 60% !important;
    top: 50px; //navbar height
    //left: 240px ; //sidebar width (230) + content padding (10)
    //display: block;
    //z-index: 1101;
    box-shadow: 0px 0px 20px #afafaf !important;
}

#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    right: 8px;
}

#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 16px;
    left: 8px;
    z-index: 999;
    box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px rgb(0,0,0);
}

#fixed-mobile-ad {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 0px;
    right: 0px;
    z-index: 888;
    text-align: center;
    vertical-align: bottom;
}

section.content,
div.content {
    padding: 0px;
    margin: 0px;
}

.content-wrapper {
    padding-top: 48px;
    padding-left: 4px;
    padding-right: 4px;

    .content-header {
        padding-top: 4px;
        padding-bottom: 12px;
    }
}

//toolbars
.s-Toolbar {
    .button-inner {
        height: 2.0em;
        vertical-align: central;
        text-shadow: 0 1px 0 #fff;
    }
}

//make bootstrap tooltip appear over serene rows,not behind
.tooltip {
    position: fixed;
    z-index: 9999;
}

.s-TemplateGrid {
    //Header Row height
    .slick-header-columns,
    .slick-headerrow-columns {
        white-space: normal;
    }

    .slick-header-column,
    .slick-header-column.ui-state-default {
        height: 32px;
    }

    .slick-cell {
        vertical-align: middle;

        > a.grid-action {
            color: #fff;
            margin-right: 4px;
            margin-bottom: 4px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }
}


.mobile-device {
    .s-TemplateGrid {
        // ROW height  - the styles below need to have a matching rowHeight:50 option in the slickgrid constructor
        .slick-row {
            height: 48px !important;
            line-height: 48px !important;


            > * {
                height: 44px !important;
                line-height: 44px !important;
            }
        }

        .slick-cell {
            height: 48px !important;
        }
    }
}
