@import "site.theme.less";
@import "site.mixins.less";
@import "site.administration.less";
@import "site.basicsamples.less";
@import "site.meeting.less";
@import "site.membership.less";
@import "site.northwind.less";
@import "site.organization.less";



.main-header .navbar, .main-header .dropdown-menu {
    box-shadow: 0px 7px 10px #444;
}

a.navbar-brand {
    font-variant: small-caps;
}

a.navbar-brand:hover {
    b { 
        text-shadow: 0 1px 1px #000;
    }
}

.main-header .dropdown-menu {
    padding: 0px !important;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {    
    border:none;

}