@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Organization.CalendarHoliday.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Enterprise.Organization.CalendarHolidayGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>