@{
    ViewData["Title"] = Texts.Forms.Membership.ForgotPassword.FormTitle;
    ViewData["PageId"] = "ForgotPassword";
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}

<script id="Template_Membership_ForgotPasswordPanel" type="text/template">
    <div class="flex-layout">
        <div class="site-logo"></div>
        <h3 class="login-title">@LocalText.Get("Navigation.OrgTitle") | <b>@LocalText.Get("Navigation.SiteTitle")</b></h3>
        <h4 class="form-title">@Texts.Forms.Membership.ForgotPassword.FormTitle</h4>
        <form id="~_Form" action="">
            <div class="s-Form">
                <div class="fieldset ui-widget ui-widget-content ui-corner-all">
                    <div id="~_PropertyGrid"></div>
                    <div class="clear"></div>
                </div>
                <div class="buttons">
                    <button id="~_SubmitButton" type="submit" class="btn btn-block btn-primary">
                        @Texts.Forms.Membership.ForgotPassword.SubmitButton
                    </button>
                </div>
            </div>
        </form>
    </div>
</script>

<div class="page-content">
    <div id="ForgotPasswordPanel">
    </div>
</div>

<script type="text/javascript">
$(function() {
    new Enterprise.Membership.ForgotPasswordPanel($('#ForgotPasswordPanel')).init();
});
</script>