@model Enterprise.Common.DashboardPageModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageId"] = "Dashboard";
}



<div class="content">

    <div class="info-box jumbotron">
        <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
        <div class="info-box-content">
            <h1 class="info-box-text">@LocalText.Get("Navigation.SiteTitle")</h1>
            <span class="info-box-number">business process software</span>
        </div><!-- /.info-box-content -->
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2 class="box-header">Getting started</h2>
            <p class="box-body">
                <ul>
                    <li>Enroll users</li>
                    <li>Update information</li>
                    <li>Setup roles and permissions</li>
                </ul>
            </p>
        </div>
        <div class="col-md-4">
            <h2 class="box-header">Announcements</h2>
            <p class="box-body">

            </p>
        </div>
        <div class="col-md-4">
            <h2 class="box-header">Help Contents</h2>
            <p class="box-body">

            </p>
            @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@

        </div>
    </div>
</div>