@import "site.mixins.less";


.s-Organization-ContactsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Organization-MeetingsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Organization-BusinessUnitsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Organization-PersonnelDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Organization-PersonnelStatusDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Organization-MeetingDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}